/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    font-size: 16px;
    color: #333;
    background-color: aliceblue;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Cabeçalho */

.item1 {
    display: flex;
    align-items: center;
  }
  
  .item1 input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .item1 button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 0.2s;
  }
  
  .item1 button:hover {
    background-color: #333;
  }
  
  /* Saída */
  
  .item2 {
    margin-top: 20px;
  }
  
  #textoCript {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
    overflow: scroll;
  }
  
  /* Botão copiar */
  
  #clipboardCopy {
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    transition: 0.2s;
  }
  
  #clipboardCopy:hover {
    background-color: #333;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #338b98;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
  footer .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  footer p {
    margin: 0;
    padding: 0;
  }
  
  footer a {
    color: #000000;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  footer img {
    height: 20px;
    margin-left: 10px;
  }
  
  